<h2>Create</h2>
<form class="form-horizontal" name="frmAddContact" ng-submit="createContact(contact)" novalidate>
    <h4>Create a new contact</h4>
    <hr />
    <div class="form-group">
        <label class="col-lg-2 control-label">Name</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" name="name" ng-model="contact.Name" ng-maxlength="40" required />
            <span class="text-danger" ng-show="(frmAddContact.name.$touched || frmAddContact.name.$dirty ) && frmAddContact.name.$invalid">
                <span ng-show="frmAddContact.name.$error.required">Name is required</span>
                <span ng-show="frmAddContact.name.$error.maxlength">Name must be less than or equals to 40</span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Lastname</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" name="lastName" ng-model="contact.LastName" ng-maxlength="40" required/>
            <span class="text-danger" ng-show="(frmAddContact.lastName.$touched || frmAddContact.lastName.$dirty ) && frmAddContact.lastName.$invalid">
                <span ng-show="frmAddContact.lastName.$error.required">Last Name is required</span>
                <span ng-show="frmAddContact.lastName.$error.maxlength">Last Name must be less than or equals to 40</span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Telephone</label>
        <div class="col-lg-10">
            <input type="tel" class="form-control" name="phoneNumber" ng-model="contact.PhoneNumber" maxlength="10" required />
            <span class="text-danger" ng-show="(frmAddContact.phoneNumber.$touched || frmAddContact.phoneNumber.$dirty ) && frmAddContact.phoneNumber.$invalid">
                <span ng-show="frmAddContact.phoneNumber.$error.required">Invalid telephone number </span>
                <span ng-show="frmAddContact.phoneNumber.$error.maxlength">10 digitos</span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <input type="submit" class="btn btn-success" value="Create"/>
            <a href="#/" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
